<style>
    body {
        margin: 0;
    }

    img {
        width: 100%;
    }

    a {
        color: <%= this.globalData.themeConf.general.tintColor %>;
    }
</style>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">

    <link rel="stylesheet" href="<%= this.globalData.site.rootURL %>/assets/css/base.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.16.2/styles/tomorrow.css" />
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.10/build/highlight.min.js"></script>

    <title><%= title.charAt(0).toUpperCase() + title.slice(1) %> | <%= this.globalData.site.name %></title>
</head>
